{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}Sai Prasanna{% endblock %}</title>
  {% block css %}
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <div class="sidebar clear">
    <div class="sidebar__profile">
      <a href="/">
        <img src="{% static 'img/sai.jpg' %}" alt="Sai Prasanna" class="sidebar__profile-img">
      </a>
      <h1 class="sidebar__profile-name">
          Sai Prasanna
      </h1>
      <div class="sidebar__profile-bio clear">
        <p>
            Web Developer <br>
            Python Programmer <br>
        </p>
      </div>
      <br>
      <nav class="sidebar__profile-nav">
        <ul>
            <li>
              <a href="/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="/categories">
                Categories
              </a>
            </li>
          </ul>
      </nav>
      <div class="sidebar__profile-social">
          <ul>
            <li>
              <a href="//github.com/sai-prasanna">
                <i class="fa fa-github fa-2"></i>
              </a>
            </li>
            <li>
            <a href="//twitter.com/sai_prasanna">
              <i class="fa fa-twitter fa-2"></i>
            </a>
            </li>

          </ul>
      </div>
    </div>
  </div>


  <div class="main" role="main">
    {% block main %}
    {% endblock %}

  </div>

{% block extra_body %}
{% endblock %}

{% block js %}

{% endblock %}
</body>
</html>
