{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}Sai Prasanna{% endblock %}</title>
  {% block css %}
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  {% block sidebar %}
  <div id="sidebar" class="clear">
    <div id="sidebar__profile">
      <a href="/">
        <img src="{% static 'img/sai.jpg' %}" alt="Sai Prasanna" id="sidebar__profile-img">
      </a>
      <h1 id="sidebar__profile-name">
          Sai Prasanna
      </h1>
      <div id="sidebar__profile-bio clear">
        <p>
            Software Developer <br>
        </p>
      </div>
      <div id="sidebar__profile-social">
        <ul>
          <li>
            <a href="//github.com/sai-prasanna">
              <i class="fa fa-github fa-2"></i>
            </a>
          </li>
          <li>
          <a href="//twitter.com/sai_prasanna">
            <i class="fa fa-twitter fa-2"></i>
          </a>
          </li>
        </ul>
      </div>
      <nav id="sidebar__profile-nav">
        <ul>
            <li>
              <a href="{% url 'post-list' %}">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="{% url 'about-page' %}">
                About
              </a>
            </li><!--
            --><li>
              <a href="/categories">
                Categories
              </a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  {% endblock %}

  <div id="main" role="main">
    {% block main %}
    {% endblock %}
  </div>

{% block extra_body %}
{% endblock %}

{% block js %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}
</body>
</html>
