{% extends 'blog/base.html' %}
{% block main %}
 <div class="posts">
 <h2 class="category__title">Category: {{ category.name }}</h2>
  <ul class="posts__list">
  {% if post_list %}
    {% for post in post_list %}
    <li>
      <a href="{% url 'post-detail' post.slug %}">
          <h2 class="posts__title">{{ post.title }}</h2>
          <span class="posts__date">{{ post.created_at | date:"M d, Y"}}</span>
      </a>
    </li>
    {% endfor %}
  {% else %}
  <li>
    <h2 class="posts__title">No Posts Yet.</h2>
  </li>
  {% endif %}

  </ul>
</div>
{% endblock %}
