{% extends 'blog/base.html' %}
{% block head_title %} {{ post.title }} {% endblock %}

{% block main %}
<article id="post" class="clear">

      <header>
      <div class="post__meta">
        <h1 class="post__title">
          {{ post.title }}
        </h1>

        <span class="post__meta-date">
          {{ post.created_at | date:"M d, Y" }}
        </span>
        <div class="post__meta-categories">
          <ul>
          {% for category in post.categories.all %}
            <li>
              <a href="{{ category.get_absolute_url }}">
                <i class="fa fa-tag"></i>
                {{ category.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      </header>

      <div class="post__content">
      {{ post.content|safe }}
      </div>
</article>
{% endblock %}
