{% extends 'blog/base.html' %}
{% block head_title %} {{ post.title }} {% endblock %}

{% block main %}
<article class="post clear">
  <h1 class="post__title">
    {{ post.title }}
  </h1>
  <div class="post__meta">
    <div class="post__meta_date">
      {{ post.created_at | date:"M d, Y" }}
    </div>

    <ul class="post__meta-categories">
    {% for category in post.categories.all %}
      <li>
        <a href="{{ category.get_absolute_url }}">
        <i class="fa fa-tag"></i>
        {{ category.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>
  <div class="post__content">
  {{ post.content|safe }}
  </div>

</article>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
 {% endblock %}
