{% extends 'blog/base.html' %}
{% block head_title %} {{ post.title }} {% endblock %}

{% block main %}
<article class="post clear">
      <h1 class="post__title">
        {{ post.title }}
      </h1>
      <div class="post__meta">
        <p>
          {{ post.created_at | date:"M d, Y" }}
        </p>
      </div>
      <div class="post__content">
      {{ post.content|safe }}
      </div>
</article>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
 {% endblock %}
